.App {
  text-align: center;
}

body {
  height: 100%;
  width: 100%;
  background-color: aqua;
}

/* BOARD */
.board {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 70vh;
  height: 70vh;
  border: 2px solid black;
  border-radius: 10px;
}
/* BOARD END */

/* SQUARE */
.square {
  height: calc(100% / 3);
  width: calc(100% / 3);
  border: 2px solid black;
  border-radius: 10px;
}
/* SQUARE END */
